APPLICATION_NAME=INSERT_APP_NAME


# MongoDB Configuration
MONGO_DB_URI=INSERT_MONGO_DB_URI
MONGO_DB_NAME=INSERT_MONGO_DB_NAME

# JWT
JWT_SECRET=INSERT_JWT_SECRET
JWT_EXP=INSERT_JWT_EXP

# Resend
RESEND_EMAIL=INSERT_RESEND_EMAIL
RESEND_API_KEY=INSERT_RESEND_API_KEY

# Spring Security
USERNAME_ADMIN=INSERT_USERNAME_ADMIN
PASSWORD_ADMIN=INSERT_PASSWORD_ADMIN


#CloudFlare
CLOUDFLARE_S3_API=INSERT_CLOUDFLARE_S3_API
CLOUDFLARE_BUCKET_NAME=INSERT_CLOUDFLARE_CLOUDFLARE_BUCKET_NAME
CLOUDFLARE_ACCESS_KEY=INSERT_CLOUDFLARE_ACCESS_KEY
CLOUDFLARE_SECRET_KEY=INSERT_CLOUDFLARE_SECRET_KEY
CLOUDFLARE_TOKEN_VALUE=INSERT_CLOUDFLARE_TOKEN_VALUE
